<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> </h2> 놀이기구 만족도
<form method="post" action="result">
    주말여부:
    <select name="week">
        <option value="1"> </option> 주말
        <option value="0"> </option> 평일
    </select><br>
    자녀수 : <input type="text" name="child"><br>
    거리 : <input type="text" name="distance"><br>
    놀이기구 만족도 : <input type="text" name="rides"><br>
    게임 만족도 : <input type="text" name="games"><br>
    대기시간 만족도 : <input type="text" name="wait"><br>
    청결도 : <input type="text" name="clean"><br>
    <input type="submit" value=" "> 확인
</form>

</body>
</html>